.button-text {
  border: none;
  background: transparent;
  display: flex;
  flex-direction: row;
  align-items: center;
  font-size: 14px;
  cursor: pointer;
  &:hover {
    opacity: 0.5;
  }
}

.button-text__icon {
  margin-right: 8px;
}
