.feed__comment {
  margin-bottom: 8px;
}

.feed__add-comment {
  margin-top: 16px;
}

@media (min-width: $media-desktop) {
  .feed__comment {
    margin-bottom: 12px;
  }

  .feed__add-comment {
    margin-top: 0px;
  }
}
