.color--red {
  color: $red;
}

.color--blue {
  color: $blue;
}

.color--dark {
  color: $darkGray;
}

.color--gray {
  color: $gray;
}

.bg--red {
  background: $red;
}

.bg--blue {
  background: $blue;
}

.bg--dark {
  background: $darkGray;
}
