@import "ModalDelete/ModalDelete.scss";
@import "Likes/Likes.scss";

.comment {
  display: flex;
  flex-direction: column-reverse;
  position: relative;
  &__header {
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-bottom: 16px;
  }
  &__content {
    width: 100%;
    margin-bottom: 16px;
  }
  &__avatar {
    margin-right: 16px;
  }
  &__username {
    margin-right: 16px;
  }
  &__delete {
    position: absolute;
    bottom: 20px;
    right: 12px;
    height: fit-content;
    width: fit-content;
  }
}

@media (min-width: $media-desktop) {
  .comment {
    flex-direction: row;
    &__likes {
      margin-right: 24px;
    }
    &__delete {
      right: 24px;
      top: 28px;
    }
  }
}
